<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>{% block title %}{% endblock %} - Findr</title>
</head>
<body>
    {% block head %}
    {% if get_flashed_messages() %}
    {% for type, message in get_flashed_messages(with_categories=True) %}
    <div class="{{type}}-box">
        <p class="msg center">{{message}}</p>
    </div>
    {% endfor %}
{% endif %}

<a href="{{url_for('home')}}"><img src="static/logo.svg" class="logo center" id="iconlogo"></a>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>