<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Home - Findr</title>
</head>
<body>
    {% if get_flashed_messages() %}
        {% for message, type in get_flashed_messages(with_categories=True) %}
        <div class="{{type}}-box">
            <p class="msg center">{{message}}</p>
        </div>
        {% endfor %}
    {% endif %}

    {% if session.get('userType') == 'user' %}
        <ul class="sidebar">
            <li><a href="{{url_for('init')}}"><img src="static/logout.svg" class="icons center hover"></a></li>
        </ul>

        <a href="{{url_for('home')}}"><img src="static/logo.svg" class="logo center" id="iconlogo"></a>
        <h1>Welcome {{name}},</h1>
        <h2>Latest products: </h2>
        <br>
        <br>
        <div class="products">
            {% for product in products %}
            <div style="display: block; padding: 15px;">
                    <a href="{{url_for('productpage', pid=product[0])}}">
                        <img src="data:image/png;base64,{{b64encode(product[3]).decode('utf-8')}}" class="gridimage hover">
                    </a>
                    <h3>{{product[2]}}</h3>
                    <h4>Sold By: {{(product[1])}}</h4>
                    <p>Price: ₹{{product[4]}}</p>
            </div>
            {% endfor %}
        </div>


    {% elif session.get('userType') == 'shop' %}
        
    <a href="{{url_for('home')}}"><img src="static/logo.svg" class="logo center" id="iconlogo"></a>
    <ul class="sidebar">
        <li><a href="{{url_for('upload')}}"><img src="static/plus.svg" class="icons center hover"></a></li>
        <li><a href="{{url_for('edit')}}"><img src="static/edit.svg" class="icons center hover"></a></li>
        <li><a href="{{url_for('init')}}"><img src="static/logout.svg" class="icons center hover"></a></li>
    </ul>
            <h1>Dashboard: {{name}}</h1>
            <br>
            <h2>No of posts: {{postno}}</h2>
            <br>
            <h2>Your Posts:</h2>
            
            {% for product in products %}
            {% if product[1] == uname %}
                <div style="display: inline;">
                    <a href="{{url_for('productpage', pid=product[0])}}">
                    <img src="data:image/png;base64,{{b64encode(product[3]).decode('utf-8')}}" class="gridimage hover">{# I have no fcking clue #}
                    </a>
                    <h3>{{product[2]}}</h3>
                    <p>Price: ₹{{product[4]}}</p>
                </div>
            {% endif %}
            {% endfor %}

        
    {% endif %}
</body>
</html>