<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>{{title}}-Findr</title>
</head>
<body>
    {% if get_flashed_messages() %}
        {% for type, message in get_flashed_messages(with_categories=True) %}
        <div class="{{type}}-box">
            <p class="msg center">{{message}}</p>
        </div>
        {% endfor %}
    {% endif %}

    <a href="{{url_for('home')}}"><img src="static/logo.svg" class="logo center" id="iconlogo"></a>

    <div style="display: flex;">
        <img src="data:image/png;base64,{{img}}" alt="{{description}}", class="productimage">
        <div style="padding-left: 35px;">
            <p class="data", id="title">{{title}}</p>
            <a class="data", href="" id="seller">{{seller}}</a>
            <p class="data", id="price">₹{{price}}</p>
            <p>{{likecount}}</p>
            <form action="/{{pid}}" method="post">
                {% if not liked %}
                    <button class="credentials" type="submit" name="isliked" value="True"><img src="static/notliked.svg" class="like"></button>
                {% else %}
                    <button class="credentials" type="submit" name="isliked" value="False"><img src="static/liked.svg" class="like"></button>
                {% endif %}

                {% if not incart %}
                    <button class="credentials" type="submit" name="incart" value="True" >Add to cart</button>
                {% else %}
                    <button class="credentials" type="submit" name="incart" value="False">Remove from cart</button>
                {% endif %}
                
            </form>
            
        </div>
        
    </div>
    <br>
    <div>
        <form method="post" action="/{{pid}}">
            <h3>Comments:</h3>
            <textarea name="comment" class="credentials" style="resize: none;" placeholder="Comment Here" required="required"></textarea>
            <button class = 'credentials' type="submit" id = 'submit'>Post</button>
            <br>
        </form>
        {% for comment in comments %}
        <p>{{comment[2]}}:</p>
        <p>{{comment[3]}}</p>
        {% endfor %}
    </div>
</body>
</html>