<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sign In - Findr</title>
</head>
<body>
    {% if get_flashed_messages() %}
        {% for type, message in get_flashed_messages(with_categories=True) %}
        <div class="{{type}}-box">
            <p class="msg center">{{message}}</p>
        </div>
        {% endfor %}
    {% endif %}

    <img src="static/logo.svg" alt="Findr Logo", class="center logo">
    <div class="center">
    <form action="/signin" method="post">
        <input autofocus="on" required="required" class = 'center credentials' type="email" name="email" id="email", placeholder="Email">
        <input required="required" class = 'center credentials', type="password" name="password" id="pwd", placeholder="Password">
        <button class = 'credentials center' type="submit" id = 'submit'>Sign In</button>
    </form>

    <p class="center text">New Here? <a href="{{url_for('signup')}}">Sign Up!</a></p>
    </div>
</body>
</html>