<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>New Post - Findr</title>
</head>
<body>
    {% if get_flashed_messages() %}
        {% for type, message in get_flashed_messages(with_categories=True) %}
        <div class="{{type}}-box">
            <p class="msg center">{{message}}</p>
        </div>
        {% endfor %}
    {% endif %}

    <a href="{{url_for('home')}}"><img src="static/logo.svg" class="logo center" id="iconlogo"></a>
    <ul class="sidebar">
        <li><a href="{{url_for('upload')}}"><img src="static/plus.svg" class="icons center hover"></a></li>
        <li><a href="{{url_for('edit')}}"><img src="static/edit.svg" class="icons center hover"></a></li>
        <li><a href="{{url_for('init')}}"><img src="static/logout.svg" class="icons center hover"></a></li>
    </ul>

    <h1>New Post</h1>
    <form method="post" enctype="multipart/form-data">
        <div style="display: block; width: 50%;">
            <input type="text" placeholder="Caption" class="credentials" name="caption">
            <input type="number" placeholder="Price" class="credentials file" name="price">
            <input type="file" accept="image/*" class="credentials" name="img" style="color: grey;">
            <button class = 'credentials' type="submit" id = 'submit'>Post</button>
        </div>
    </form>
</body>
</html>