{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}

    <h1>Edit {{name}}'s Profile</h1>
    <form method="post" action="/edit">
        <div style="display: block; width: 50%;">
            <input autocomplete="off" required="required" style="display: block;" class="credentials hover" type="text" name="NAME" value="{{dictionary['NAME']}}" placeholder="Name">
            <input autocomplete="off" required="required" style="display: block;" class="credentials hover" type="text" name="EMAIL" value="{{dictionary['EMAIL']}}" placeholder="Email">
            <input autocomplete="off" style="display: block;" class="credentials hover" type="password" name="PWD" placeholder="Password">
            <button class = 'center credentials' type="submit" id = 'submit'>Change</button>
        </div> 
    </form>

{% endblock %}