{% extends "base.html" %}
{% block title %}Requests{% endblock %}

{% block content %}

    {% if requests %}
        {% for request in requests %}
        <div style="padding: 25px;">
            <a style="display: flex;" href="/{{request[2]}}">
            <img src="data:image/png;base64,{{b64encode(request[3][3]).decode('utf-8')}}" class="cartimage hover">
            <div style="margin-left: 20px;">
            <p>{{request[3][2]}}</p>
            <p>Bought By: {{request[1]}}</p>
            <p>Price: ₹{{request[3][4]}}</p>
            </div>
            </a>
        </div>
        {% endfor %}
        
    {% else %}
    <h1 class="center">You have no Requests yet...</h1>
    {% endif %}

{% endblock %}